
.metadata/*
/.metadata/

.idea/*
/.idea/

.vscode/*
/.vscode/

.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.pyd
__pycache__/
env/

# Database runtime files
data/
